* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, #f1faee 0%, #e63946 100%);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 90vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
  background: url(../img/bg-form.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
}

#banner-layer {
  background-color: rgba(95, 15, 64, 0.5);
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

#register-banner h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #f8f8f8;
  word-spacing: 50rem;
}

#register-form {
  background-color: #f8f8f8;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

#register-form p {
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 1.5rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5rem;
  padding: 0.6rem 0;
}

#gerar-senha {
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

#gerar-senha:hover {
  color: #e63946;
}

#register-form #gerando-senha {
  border: 1px solid #e63946;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  display: none;
}

#register-form #gerando-senha p {
  color: #38a3a5;
}

#register-form input[type="submit"],
#copy-password, 
#generate-password{
  background-color: #38a3a5;
  color: #f8f8f8;
  padding: 1rem 1.4rem;
  align-self: flex-end;
  border-radius: 25px;
  max-width: 150px;
  opacity: 0.7;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
}

#options-generate{
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
}

#options-generate .form-control{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#options-generate label{
  font-size: .8rem;
}

#options-generate input[type="text"]{
  max-width: 30px;
  text-align: center;
  border: 1px solid #333;
}

#options-generate button{
  background-color: #e63946;
  display: block;
  margin: 0 auto;
}

#copy-password{
  background-color: transparent;
  border: 1px solid #38a3a5;
  color: #38a3a5;
  padding: .5rem .8rem;
}

.hide{
  display: none;
}