* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, #f1faee 0%, #e63946 100%);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 90vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner{
    background: url(../img/bg-form.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
}

#banner-layer{
    background-color: rgba(95, 15, 64, 0.5);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #f8f8f8;
    word-spacing: 50rem;
}

#register-form{
    background-color: #f8f8f8;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

#register-form p{
    text-align: center;
    font-size: .8rem;
    color: #aaa;
    margin-bottom: 1.5rem;
}
.form-control{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333;
    font-weight: bold;
    max-width: 80%;
    
}